
    <h1>Halaman Web NodeJS</h1>
    <h2>Halo, nama saya <%= nama %></h2>

    <h2>Daftar Mahasiswa</h2>
    <% if (mahasiswa.length < 1) { %>
     <p>Daftar mahasiswa masih kosong</p>
    <% } else { %>
        <% mahasiswa.forEach(mhs => { %>
            <ul>
                <li>Nama: <%= mhs.nama %></li>
                <li>Email: <%= mhs.email %></li>
            </ul>
        <% }) %>
    <% } %> 